body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Logo */
.text span {
  position: relative;
}

.text span::before {
  content: 'VoMinhDuong';
  position: absolute;
  color: #fee715ff;
  width: 400px;
  overflow: hidden;
  white-space: nowrap;
  animation: animate 2s linear infinite alternate;
}

/* Nav */
.nav li a::before {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  transform-origin: 100%;
  height: 1.5px;
  bottom: -20px;
  background-color: #40a9ff;
  transition: transform ease-out 0.5s;
}

li:hover .ali::before {
  width: 100%;
  cursor: pointer;
  transform: scaleX(1);
  transform-origin: 0%;
}

li:hover .cate {
  display: block;
}

.cate {
  transition: all 0.3s ease;
}

.cate::before {
  content: '';
  position: absolute;
  width: 50px;
  height: 20px;
  top: -20px;
  background-color: transparent;
}


.slick-prev:before,
.slick-next:before {
  background-color: red !important;
}

@keyframes animate {

  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

/* Slick Slider */
.slick-next:before,
.slick-prev:before {
  margin-left: -50px !important;
  background-color: transparent !important;
  color: transparent !important;
  position: absolute;
}

.slick-slider {
  cursor: pointer;
}

/* Banner */
.bannerItem {
  max-width: 416px;
  overflow: hidden;
  border-radius: 6px;
}

.bannerItem a img {
  transition: all 0.5s ease 0s;
}

.bannerItem a::after {
  display: block;
  content: '';
  position: absolute;
  background: rgba(255, 255, 255, 0.25);
  right: 10%;
  width: 180%;
  height: 60%;
  top: -65%;
  transform: skewY(-50deg);
  transition: all 0.5s ease 0s;
  /* animation: effect 0.4s linear 1 alternate-reverse; */

}

.bannerItem:hover img {
  transition: all 0.5s ease;
  transform: scale(1.05);
  z-index: 1;
}

.bannerItem:hover a::after {
  display: block;
  animation: effect 0.4s linear 1 forwards;
}

/* Container */
.containerItem:hover .img2 {
  opacity: 1;
  z-index: 10;
}

.containerItem:hover .img1 {
  opacity: 0;
}

.button {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  z-index: 999 !important;
  width: 100%;
  background-color: white;
  left: 0;
  box-shadow: 0px 10px 12px rgb(0, 0, 0, 0.1);
}

.img1,
.img2 {
  transition: all 0.5s ease-in-out;
}

.containerItem:hover {
  box-shadow: 0px 10px 12px rgb(0, 0, 0, 0.1);
}

.items {
  width: 100%;
}

.containerItem:hover .button {
  visibility: visible;
  opacity: 1;
  position: absolute;
}

.containerItem:hover .parallax {
  opacity: 1;
}


/* Detail */
.share {
  cursor: pointer;
  box-shadow: 0 1px 5px rgb(54, 54, 54, 0.15);
}

.cusDetail:nth-child(2) {
  padding: 14px 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.cusDetail img,
.cusDetail p {
  cursor: pointer;
}

.cusDetail p:hover {
  color: rgb(50, 50, 205);
}


/* Color Select */
.colorSelects {
  cursor: pointer;
  border-bottom: 4px solid transparent;
  transition: all 0.2s ease-in-out;
}

.colorSelects.activeColorSelect {
  border-bottom: 4px solid rgb(72, 70, 70);
}

/* Size Select*/
.activeSize {
  background-color: rgb(36, 32, 32);
  color: white;
  font-weight: bold;
}

.size span {
  transition: all 0.3s ease-in-out;
}

.searchProduct {
  opacity: 0;
  visibility: hidden;
  width: 170%;
  top: 60px;
  box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.08);
  float: left;
  font-size: 14px;
  padding: 0 10px;
  transition: all 0.8s ease-in-out;
}

.searchProduct.appear {
  opacity: 1;
  visibility: visible;
}

.searchItems {
  max-height: 290px;
  overflow: hidden;
}

.searchItem {
  cursor: pointer;
  padding: 12px 0;
  border-bottom: 1px dotted #dfe0e1
}

.searchProduct p {
  width: 260px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: pre;
}

.searchProduct p:first-child:hover {
  color: rgb(60, 89, 216);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0 !important;
  font-weight: normal;
}

.daughter:first-child {
  margin-left: 0;
}

.daughter:last-child {
  margin-right: 0;
}

.effect {
  transition: all 0.5s ease;
}

.effect:hover {
  cursor: pointer;
  transform: scale(1.03);
}

/* Cart */

.group-input {
  display: flex;
  margin: 15px 0;
  width: 106.3px;
  border: 1px solid #ccc;
  align-items: center;
  border-radius: 3px;
}

.group-input button {
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.input {
  width: 40px;
  border: none;
  text-align: center;
  padding-bottom: 2px;
  outline: none;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  height: 32px;
}

.input:focus {
  border: 1px solid #0084ff;
}

.disable {
  padding: 4px 6px;
}

.enable {
  padding: 4px 6px;
}

.group-button .btn {
  border: none;
  border-radius: 3px;
  width: 300px;
  height: 48px;
  background-color: #ff3945;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
  font-weight: 600;
  text-align: center;
}

.group-button .btn:hover {
  cursor: pointer;
  opacity: 0.8;
}

.cartQuantity {
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: yellow;
  text-align: center;
  font-size: 13px;
}

/* Scroll */
.scrollTop {
  cursor: pointer;
  position: fixed;
  bottom: 12%;
  right: 30px;
  width: 45px;
  height: 45px;
  background-color: white;
  color: rgb(95, 93, 93);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 12px;
  animation: scrollTop 0.5s ease-in-out forwards;
}

/* Detail */
.addCart {
  border: none;
  font-size: 14px;
  position: relative;
  transition: color 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86), border 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.addCart::before {
  content: '';
  position: absolute;
  background-color: black;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: transform 0.5s ease-in-out;
  transform: scale(1);
  transform-origin: left;

}

.addCart:hover:before {
  transform-origin: right;
  transform: scale(0, 1);
  transition: transform 0.5s ease-in-out;
  content: '';
  position: absolute;
  background-color: black;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.addCart:hover {
  border: 1px solid black;
  color: black;
}

/* Parallax Scroll */
.parallax {
  opacity: 0;
}

.scroll.parallax {
  animation: showtop 1s ease-in-out 1 forwards;
}

.delay-01 {
  animation-delay: 0.1s !important;
}

.delay-02 {
  animation-delay: 0.2s !important;
}


.delay-04 {
  animation-delay: 0.4s !important;
}

.delay-06 {
  animation-delay: 0.6s !important;
}

.delay-08 {
  animation-delay: 0.8s !important;
}

@keyframes showtop {
  from {
    opacity: 0;
    transform: translate(0, 100px);
  }

  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes effect {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    right: -170%;
  }
}

@keyframes scrollTop {
  from {
    right: -20px;
    opacity: 0.6;
  }

  to {
    right: 30px;
    opacity: 1;
  }
}